.stMarkdown>div>h1 {
    margin-top: -80px;
    text-align: center;
}

.stDataFrame {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.stDataFrame .col_heading {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
